<div class= "top-header">
  <h1>ようこそBookersへ</h1>
</div>
<div class="top-content">

  <p class="a">Bookersでは、さまざまな書籍に関するあなたの意見や<br>
  印象を共有し交換することができます
  </p>

  <p class="i"><%= link_to 'start', "/lists/new" %></a>

</div>