.main-title {
  padding: 0 10px;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
}

table.outside {
  width: 750px;
  padding-left: 30px;
  max-width: 100%;
}

tr.nav {
  text-align: center;
}

td.title {
  padding-right: 10px;
  padding-bottom: 5px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 200px;
}
td.body  {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 600px;
}

.form {
  padding-left: 30px;
}
.form h1{
  margin-top: 40px;
  font-size: 20px;
}

.form h4 {
  margin: 20px 0 0 0;
}
input[type="submit"] {
  margin-top: 10px;
  display: block;
}
